.background {
  viewport-fill: rgba(0,0,0,.5);
  width: 100%;
}

#time {
  font-size: 45;
  text-length: 50;
  font-weight: bold;
  text-anchor: middle;
  font-family: Colfax;
  width: 40%;
  x: 83%;
  y: 17%;
  fill: #FFFFFF;
}

.tree-container {
  width: 100%;
}

#tree {
  width: 48%;
  height: 65%;
  x: 28%;
  y: 25%;
}

.title-image {
  x: 7%;
  y: 7%;
  width: 23%;
  height: 9%;
}